.butonlu-yer {
  justify-content: center;

  font-weight: 400;
}

h1 {
  margin: 0 0 20px 0;

  font-weight: 700;
}

button {
  font-size: normal;
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
}

.ust {
  margin: 0;

  justify-content: space-around;
}

.asagi {
  justify-content: space-around;
}

.item {
  justify-content: space-between;

  text-align: center;
}

h2 {
  justify-content: space-between;

  text-align: center;

  font-weight: 700;
}

.fotograf {
  justify-content: center;

  flex-wrap: wrap;
}

.fotodiv {
  text-align: center;
}

img {
}
.en-alt-p {
  font-weight: 400;
}
.web {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.studio {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.en-alt {
  justify-content: center;
}

.studio-ust {
  font-weight: 700;
}
a {
}
h3 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
.fotodiv-alt {
  text-align: center;
}
img {
}
.ust-foto {
}
body {
  font-weight: 400;
  color: #434455;
  font-style: normal;
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}
body {
  margin: 0;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  border-color: currentcolor;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
