:root {
 

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;  
}

ul, ol {
  margin: 0;
  list-style: none;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

.btn {
  font-family: var(--font-family);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}





.footer .prt {
  color: var(--cloud);
}

.navigation__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.contact {
  font-style: normal;
}



.navigation__link:hover,
.navigation__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--navy-blue);
}

.hero__title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  
}

.hero__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
}

.peculiarities__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.peculiarities__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team {
  background-color: var(--cloud);
}

.team__item {
  background-color: var(--white);
}

.team__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  
  text-transform: capitalize;
}

.team__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.portfolio__cart-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio__card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer {
  background-color: var(--navy-blue);
}

.footer__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* Logo Stil */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo .prt {
  color: #2e2f42;
}

/* Navigation List */
.navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #404bbf;
}

/* Address */
.contact {
  font-style: normal;
}

.contact-list__link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: #404bbf;
}
