.butonlu-yer {
  justify-content: center;

  font-weight: 400;
}

h1 {
  margin: 0 0 20px 0;

  font-weight: 700;
}

button {
  font-size: normal;
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
}

.ust {
  margin: 0;

  justify-content: space-around;
}

.asagi {
  justify-content: space-around;
}

.item {
  justify-content: space-between;

  text-align: center;
}

h2 {
  justify-content: space-between;

  text-align: center;

  font-weight: 700;
}

.fotograf {
  justify-content: center;

  flex-wrap: wrap;
}

.fotodiv {
  text-align: center;
}

img {
}
.en-alt-p {
  font-weight: 400;
}
.web {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.studio {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.en-alt {
  justify-content: center;
}

.studio-ust {
  font-weight: 700;
}
a {
}
h3 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
.fotodiv-alt {
  text-align: center;
}
img {
}
.ust-foto {
}
body {
  margin: 0;

  background-color: none;
  color: #434455;
}
